html, body {
    color: white;
    background-color: #212121;
    font-family: "Helvetica Neu", Arial, Arial, Helvxetica, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}

button {
    font-size: 1.3rem;
    padding: 10px;
    margin: 10px;

}